
*.xml
*.iml
out/production/MessengerApp2/Client/Model/TextMessage.class
out/production/MessengerApp2/Client/Model/Contacts.class
files/contacts.dat
contacts.txt
*.class
*.class
*.class
out/production/MessengerApp2/Client/Controller/Controller.class
out/production/MessengerApp2/Client/View/MainPanel.class
out/production/MessengerApp2/Client/View/MainFrame.class
out/production/MessengerApp2/Client/View/ContactPanel.class
out/production/MessengerApp2/Client/View/ContactPanel$2.class
out/production/MessengerApp2/Client/View/ContactPanel$1.class
out/production/MessengerApp2/Client/View/Chattwindow.class
out/production/MessengerApp2/Client/Model/Client.class
out/production/MessengerApp2/Client/Model/Client$Listener.class
